.DS_Store
_site
Enterprise/Assessment/ProjectProposal/Feedback/
Enterprise/Assessment/Presentation/Feedback/
*checkpoint.ipynb
*swp
*.lock
my_plot.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pygstyle
*.pygtex
*cache*
docs/_build/*
nbs/chapters/plot.pdf
*bbl
*blg
*xdv
*.ipynb_checkpoints*
book/
