.DS_Store
_site
Enterprise/Assessment/ProjectProposal/Feedback/
Enterprise/Assessment/Presentation/Feedback/
*checkpoint.ipynb
*swp
*.lock
my_plot.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pygstyle
*.pygtex
*cache*
_build/
docs/_build/*
nbs/chapters/plot.pdf
*bbl
*blg
*xdv
*.ipynb_checkpoints*
book/further-information/02-matplotlib/how/plot.pdf
*mov
*mp4
.doctrees/
taylor-and-francis/_build/html/
taylor-and-francis/_build/jupyter_execute/
taylor-and-francis/_build/latex/*
!taylor-and-francis/_build/latex/clean.py
*.idx
*.ilg
*.ind
*.lof
*.lot
*.pdf
*.pyg
*.xdy
env/
book/further-information/06-working-with-files/how/squares.csv
book/further-information/06-working-with-files/tutorial/data.txt
book/further-information/06-working-with-files/why/array.txt
book/further-information/06-working-with-files/why/squares.csv
**/pngs/*
