{% extends "base.html" %}

{% block body %}
    <center>
        <h5>
            {{ description }}
        </h5>
    </center>

    <h1>Chapters</h1>
      <ol start=0>
          {% for chapter in chapters %}
              <li><a href=/{{root}}/chapters/{{ chapter.dir }}/>{{ chapter.title }}</a>
                  (<a href=/{{root}}/{{ chapter.nb }}>ipynb</a>)</li>
          {% endfor %}
      </ol>


    <h1>Other materials</h1>
        <ul>
          <li>
               <a href=/{{root}}/other/assessment/>Assessment</a>
          </li>
          <li>
              <a href=/{{root}}/other/concepts/>List of concepts</a>
          </li>
          <li>
               <a href=/tex/>\(LaTeX\)</a>
          </li>
          <li>
              <a href=/{{root}}/assets/pdf/writing-mathematics-guidelines/main.pdf>Mathematical writing guidelines</a>
          </li>
          <li>
               <a href=https://vkcfm.readthedocs.io/en/latest/>Course documentation</a>
          </li>
          <li>
               <a href=/tch-phi/>Teaching philosophy</a>
          </li>
          <li>
              <a href=/{{root}}/other/using-nbtutor/>Using nbtutor</a>
          </li>
          <li>
              <a href=/{{root}}/cy/>Welsh language version of this course</a>
          </li>
        </ul>
{% endblock %}
